/* Shows the borders of all of your code
 * {
  border: 1px solid red !important
} */

@import "media.css";

.container {
  display: grid;
  grid-gap: 0.625rem;
  grid-template-columns: repeat(3, 180px 1fr);
  grid-template-rows: 70px 1fr 30px;
  grid-template-areas: 
  "hd hd hd hd hd hd hd hd"
  "sd main main main main main main main"
  "ft ft ft ft ft ft ft ft";
    
}

.card{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly; 
}

.meditation-card{
  align-self: left;
  padding: 50px;
  background-image: url(images/Reiki\ card.jpg);
  background-size: cover;
  border: 3px solid #457fdc;
  text-align: center;
}

.meditation-card-link{
  border: 2px solid blueviolet;
  border-radius: 50%;
  font-size:30px;
  padding: 12px;
  cursor: pointer;
}
.meditation-card-link:hover{
  background-color: crimson;
  color: wheat;
}

.reiki-card-link{
  border: 2px solid blueviolet;
  border-radius: 50%;
  font-size:30px;
  padding: 12px;
  cursor: pointer;
}
.reiki-card-link:hover{
  background-color: crimson;
  color: wheat;
}
.reiki-card{
  align-self: center;
  border: 2px solid aliceblue;
  padding: 50px;
  background-image: url(images/actual\ reiki\ card.jpg);
  background-size: cover;
  border: 3px solid #457fdc;
  text-align: center;
}

.title{
  grid-area:  hd;
  text-align: center;
  background: #dfeffd;
  border: 3px solid #457fdc;
  color: #457fdc;
}

.left-sidebar{
  grid-area: sd;
  text-align: center;
  border: 3px solid #457fdc;
  background-image: url(images/Trees.jpg);
  background-size: cover;
}
.content{
  grid-area: main;
  text-align: center;
  border: 3px solid #457fdc;
  color: aliceblue;
  background-image:linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ), url(images/Big\ River.jpg);
  background-size: cover;
}
.ending{
  grid-area: ft;
  text-align: center;
  background: #dfeffd;
  border: 3px solid #457fdc;
  color: #457fdc;
}
.meditation-link{
    padding: 8px 20px;
    color: greenyellow;
    text-decoration:none;
    font-weight:bold;
    border-radius:5px;
    cursor:pointer;
}


    
     