.container {
  display: grid;
  grid-gap: 0.625rem;
  grid-template-columns: 40px repeat(7 1fr);
  grid-template-rows: 60px 400px 1fr;
  grid-template-areas: 
  "hd hd hd hd hd hd hd hd"
  "sd main main main main main main main"
  "ft ft ft ft ft ft ft ft";
    
}

.title{
  grid-area:  hd;
  text-align: center;
  background: #dfeffd;
  border: 3px solid #457fdc;
  color: #457fdc;
}

.left-sidebar{
  grid-area: sd;
  text-align: center;
  background: #dfeffd;
  border: 3px solid #457fdc;
  color: #457fdc;
}
.content{
  grid-area: main;
  text-align: center;
  background: #dfeffd;
  border: 3px solid #457fdc;
  color: #457fdc;
}
.ending{
  grid-area: ft;
  text-align: center;
  background: #dfeffd;
  border: 3px solid #457fdc;
  color: #457fdc;
}

    
     