.container {
  display: grid;
  grid-gap: 0.625rem;
  grid-template-columns: 40px repeat(7 1fr);
  grid-template-rows: 70px 600px 1fr;
  grid-template-areas: 
  "hd hd hd hd hd hd hd hd"
  "sd main main main main main main main"
  "ft ft ft ft ft ft ft ft";
    
}

.article {
  
}

.title{
  grid-area:  hd;
  text-align: center;
  background: #dfeffd;
  border: 3px solid #457fdc;
  color: #457fdc;
}

.left-sidebar{
  grid-area: sd;
  text-align: center;
  border: 3px solid #457fdc;
  background-image: url(images/Trees.jpg);
  background-size: cover;
}
.content{
  grid-area: main;
  text-align: center;
  border: 3px solid #457fdc;
  color: aliceblue;
  background-image:linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ), url(images/Big\ River.jpg);
  background-size: cover;
}
.ending{
  grid-area: ft;
  text-align: center;
  background: #dfeffd;
  border: 3px solid #457fdc;
  color: #457fdc;
}
.meditation-link{
    padding: 8px 20px;
    color: greenyellow;
    text-decoration:none;
    font-weight:bold;
    border-radius:5px;
    cursor:pointer;
}

@media (max-width: 500px){
  .container{
    grid-template-areas: 
    "hd"
    "sd main"
    "ft";
    }
}


    
     